<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>Welcome to JavaBanco</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Welcome to JavaBanco</h1>

<h2>Account Information</h2>

<form action="#" th:action="@{/accountUpdateForm}" th:object="${accountUpdateForm}" method="post">
    <p>Account Number: <input type="text" th:field="*{accountNumber}"/></p>
    <p>Amount: <input type="text" th:field="*{amount}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>

</html>