<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>Welcome to JavaBanco</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<p> th:text=" 'Welcome to JavaBanco, ' + ${name} + '!'"></p>

<h1>Form</h1>

<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Id: <input type="text" th:field="*{account number}"/></p>
    <p>Message: <input type="text" th:field="*{amount}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>

</html>